.form {
    height: 500px;
}

.photo {
    width: 100%;
    height: 80px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo .content {
    background: transparent;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 2px solid #fff;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo .content i {
    font-size: 23px;
}

.photo .content input {
    height: 80px;
    opacity: 0;
    position: absolute;
    margin-left: -80px;
    margin-top: -30px;
    cursor: pointer;
}

.photo .content .image {
    height: 100%;
    display: none;
    background-size: cover;
    object-fit: cover;
    transition: 3s;
}

.photo .content .image:hover {
    ackground-color: rgba(51, 51, 51, 0.71);
    filter: brightness(0.8);
    transition: 0.3s;
}

.photo .content .image .remove-picture,
.photo .content .image .remove-picture i {
    visibility: hidden;
    color: var(--danger);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo .content .image:hover .remove-picture i {
    visibility: visible;
    transition: 3s;
}
